rerun.txt
*.sql
*.sqlite3
tmp/**/*
log/*.log*
log/*.lck
doc/api
doc/app
doc/
webrat.log
ruby-debug/
features/reports/
spec/reports
.yardoc/
.yardoc*
*.swp
*.orig
*.rej
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig
public/stylesheets/compiled/
public/assets/
.sass-cache/
vagrant/.vagrant
/public/system/
/uploads
/tags
/solr/data
/solr/pids
